header {
    background-color: #628EC4;
}

.navbar {
    width: min(90%, 1000px);
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
}


.nav-item ul, button{
    display: flex;
}

.nav-item li{
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    margin: 0 auto;
}

.nav-item li a{
    text-decoration: none;
    color: #fff;
}

#logo {
    padding-left: 10px;
}

#logo ul {
    height: 60px;
    gap: 10px;
}

#logo li {
    margin: auto 0;
}

#logo li a {
    font-size: 28px;
}

#logo img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

#navegation li a{
    padding: 0 1.5rem;
    font-size: 22px;
}

#navegation li a:hover{
    text-decoration: none;
    text-shadow: 1px 1px 1px #002046;
    color: #002046;
}

#social li{
    margin: auto 0;
    padding: 0 5px;
    font-size: 14px;
}

#social img {
    margin: 0;
    padding-top: 6px;
    height: 20px;
    width: 20px;
}

#sign_in {
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    color: #fff;
    border: 1px #000;
    background-color: #000;
    cursor: pointer;
    transform: scale(1);
    transition: 200ms ease-in-out;
}

#sign_in:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
    border: 1px #000;
    background-color: #002046;
    cursor: pointer;
}